@import 'https://code.highcharts.com/css/highcharts.css';


body {
  background: #F0D14D;
}


/* Fonts */
@font-face {
  font-family: infiniteBold;
  src: url(../fonts/Infinite_Stroke_Bolder.otf);
}

@font-face {
  font-family: dream;
  src: url(../fonts/dream_orphans.ttf);
}

@font-face {
  font-family: dreamBdIt;
  src: url(../fonts/dream_orphans_bd_it.ttf);
}

@font-face {
  font-family: brooklyn;
  src: url(../fonts/TheBrooklynBold.otf);
}

h1 {
  font-family: dreamBdIt;
  color: #EFEAD5;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

h2 {
  font-family: dreamBdIt;
  color: #B66228;
  margin: 15px 25px 25px 25px;
}

h3 {
  font-family: dream;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 15px 25px 0px 25px;
}

p {
  font-family: brooklyn;
  color: black;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 15px 50px 50px 50px;
}


/* Highcharts Style */
.highcharts-background {
  fill: none;
}

.highcharts-title {
  fill: #fff;
  font-family: dream;
  font-size: 50px;
}

.highcharts-subtitle {
  font-family: brooklyn;
}

.highcharts-axis-title {
  fill: #fff;
  font-family: brooklyn;
}

.highcharts-axis-labels {
  font-family: brooklyn;
}

.highcharts-legend-item {
  font-family: brooklyn;
}

#map {
  width: 90%;
  height: 500px;
  margin: 0 auto;
  border: 2px solid black;
}

#line-chart {
  width: 90%;
  height: 500px;
  margin: 0 auto;
}

#column-chart {
  width: 90%;
  height: 500px;
  margin: 0 auto;
}


/* First Row */
.logo {
  margin: 10px 0 0 25px;
  width: 500px;
}

nav {
  margin: 10px 25px 0px -100px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

li {
  display: inline-block;
}

.menuItems {
  margin: 15px;
  width: 75px;
  height: 75px;
}

.menuItems:hover {
  margin-top: -15px;
  margin-right: 0px;
  width: 90px;
  height: 90px;
}


/* Second Row */
.row2 {
  max-width: 1360px;
}

.frame {
  margin: 0px auto 50px auto;
  width: 95%;
}

.item img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}

.creditTitle {
  text-align: center;
}

.credits {
  text-align: center;
}


/* Third Row */
.row3 {
  max-width: 1360px;
  margin: 0 auto;
}

.introBlock {
  max-width: 90%;
  margin: 0 auto;
}

.introPic {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 0px 1px 1px black;
  object-fit: cover;
}

a:link {
  text-decoration: none;
}

.hoverCred:hover {
  color: #EFEAD5;
  text-decoration: none;
  text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
}


/* Fourth Row */
.row4 {
  max-height: 300px;
  max-width: 1330px;
  margin: 25px auto 50px auto;
  display: flex;
  justify-content: center;
}

.three.columns.story {
  position: relative;
  width: 25%;
}

.news {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 0px 2px black;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.overlay2 {
  text-align: center;
  margin: 0;
}

.text {
  visibility: hidden;
  margin: 30px 0px 0px 0px;
}

.author {
  font-size: 12px;
}

.three.columns.story:hover .overlay1 {
  width: 100%;
  background: rgba(182,98,40, 0.9);
  border-radius: 15px;
  visibility: visible;
}

.three.columns.story:hover .overlay2 .text {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  visibility: visible;
  left: 0;
  top: 18%;
  font-size: 24px;
  color: white;
}

.rowUp2 {
  max-width: 1360px;
  margin: 0 auto;
}

.margin {
  margin: 25px 0px 25px 0px;
}

.caption {
  text-align: center;
}


/* Another Fourth Row */
.hidden {
  display: none;
}

.newsFrame {
  width: 90%;
  background: #EFEAD5;
  border-radius: 15px;
  border: 2px solid black;
  margin: 25px auto 25px auto;
}

.row4b {
  max-width: 1330px;
  max-height: 300px;
  text-align: center;
}

.news2 {
  width: 100%;
  height: 200px;
  text-align: center;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  border-bottom: 2px solid black;
}

.menu {
  width: 100%;
  height: 100px;
  background: black;
}

/* unvisited link */
.stories:link {
  text-decoration: none;
}

/* mouse over link */
.stories:hover {
    text-decoration: underline;
    text-decoration-color: black;
}


/* Fifth Row */
.flex {
  display: flex;
  justify-content: center;
}

.flex2 {
  display: flex;
  justify-content: center;
}

.row5 {
  width: 100%;
  height: 150px;
  background: #EFEAD5;
  margin-top: 50px;
}

.icons {
  width: 75px;
  height: 75px;
  margin: 40px 35px 0px 35px;
}

/* Seventh Row */
#line-chart {
  width: 90%;
  height: 500px;
  margin-bottom: 50px;
}

/* Nineth Row */
#results {
  width: 90%;
  margin: 0 auto;
}

th {
  font-family: dream;
  padding: 8px;
  font-size: 21px;
  text-align: center;
  color: #B66228;
}

td {
  font-family: brooklyn;
  text-align: center;
  font-size: 16px;
}


@media (max-width: 1000px) {
  /* First Row */
  .logo {
    width: 325px;
  }

  .menuItems {
    width: 50px;
    height: 50px;
  }

  .menuItems:hover {
    /* margin-top: -15px;
    margin-right: 0px; */
    width: 65px;
    height: 65px;
  }

  /* Second Row */
  .item img {
    height: 300px;
  }

  #column-chart {
    height: 300px;
  }

  .introPic {
    height: 300px;
  }

  /* Seventh Row */
  #line-chart {
    height: 300px;
  }
}

@media (max-width: 872px) {
  .text {
    margin:
  }
}

@media (max-width: 740px) {
  /* Fourth Row */
  .three.columns.story {
    display: none;
  }

  .hidden {
    display: block;
    margin-bottom: 50px;
  }

  .row4 {
    margin: -10px auto;
  }

  /* Fifth Row */
  .flex {
    display: block;
  }
}

@media (max-width: 624px) {
  /* First Row */
  .logo {
    width: 350px;
  }

  .three.columns.head {
    width: 100%;
  }

  nav {
    margin: 0px 0px 0px 0px;
  }

  .menuItems {
    width: 75px;
    height: 75px;
  }

  .menuItems:hover {
    margin-top: -15px;
    margin-right: 0px;
    width: 90px;
    height: 90px;
  }
}
